### Note 3
As mentioned previously, you can follow any approach to find the final list of countries. Either you can use the binning approach, or use the outlier assign approach where you assign each outlier that you got to the given cluster means. Here we'll take a look at one such easier approach where we use the binning approach for one of the indicators which show a good variability among the  different clusters.

In [26]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [38]:
fin = pd.read_csv('Country-data.csv')
#Converting exports,imports and health spending percentages to absolute values.
fin['exports'] = fin['exports']*fin['gdpp']/100
fin['imports'] = fin['imports']*fin['gdpp']/100
fin['health'] = fin['health']*fin['gdpp']/100

In [76]:
fin.head()

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,55.30,41.9174,248.297,1610,9.44,56.2,5.82,553
1,Albania,16.6,1145.20,267.8950,1987.740,9930,4.49,76.3,1.65,4090
2,Algeria,27.3,1712.64,185.9820,1400.440,12900,16.10,76.5,2.89,4460
3,Angola,119.0,2199.19,100.6050,1514.370,5900,22.40,60.1,6.16,3530
4,Antigua and Barbuda,10.3,5551.00,735.6600,7185.800,19100,1.44,76.8,2.13,12200

In [77]:
#Let's use the binning with gdpp first to see the list of countries which might be important.
#The upper limit that we got from the clustering process was 1700.
#let's filter the complete dataset with 1700 as the cut-off limit for gdpp.
fin2=fin[fin['gdpp']<=1700]
fin2.head()

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,55.3000,41.9174,248.297,1610,9.440,56.2,5.82,553
12,Bangladesh,49.4,121.2800,26.6816,165.244,2440,7.140,70.4,2.33,758
17,Benin,111.0,180.4040,31.0780,281.976,1820,0.885,61.8,5.36,758
25,Burkina Faso,116.0,110.4000,38.7550,170.200,1430,6.810,57.9,5.87,575
26,Burundi,93.6,20.6052,26.7960,90.552,764,12.300,57.7,6.26,231

In [78]:
len(fin2)

48

In [79]:
#So we got 48 countries here. We can create further sub categories by taking another good clustering indicator. 
#Let's use the describe function to see how the variables are aligned now.
fin2.describe()

,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
count,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000
mean,84.808333,242.988282,53.166544,389.688794,2209.229167,8.849688,60.789583,4.552500,847.583333
std,37.864382,208.411190,36.338142,306.718665,1134.428833,5.849055,7.282776,1.382764,384.444824
min,17.200000,1.076920,12.821200,0.651092,609.000000,0.885000,32.100000,1.270000,231.000000
25%,61.350000,101.630250,31.079500,175.909500,1390.000000,4.080000,57.175000,3.465000,551.500000
50%,82.050000,150.912000,44.388600,280.956000,1900.000000,8.215000,61.250000,4.875000,758.000000
75%,108.250000,388.087500,60.501250,450.765000,2857.500000,12.150000,66.125000,5.370000,1205.000000
max,208.000000,943.200000,190.710000,1279.550000,4490.000000,23.600000,73.100000,7.490000,1630.000000

In [80]:
#From the clustering process we got child_mortality to be at least 76 for the most downtrodden cluster. 
#Let's see how many countries lie within that range
len(fin2[fin2['child_mort']>=76])

28

In [84]:
#Ok so we got 28 countries now. We can stop here or take one more indicator and find the final list.
#Here we are taking income as the next one, where around 3200 was the income mean of the downtrodden cluster.
fin3=fin2[fin2['child_mort']>=76]
fin4=fin3[fin3['income']<3200]
len(fin4)

23

In [85]:
#We've got 23 countries now, let's use the describe function to see how they're aligned again.
fin4.describe()

,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
count,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000,23.000000
mean,113.743478,165.144704,41.870378,292.629174,1444.913043,7.125435,56.065217,5.463478,627.173913
std,30.255681,140.898936,23.154120,222.532254,587.515796,5.428622,6.853042,0.953232,288.989407
min,80.300000,20.605200,17.750800,90.552000,609.000000,0.885000,32.100000,3.300000,231.000000
25%,90.400000,79.379500,30.663050,170.185000,974.000000,3.420000,55.300000,5.080000,432.500000
50%,109.000000,126.885000,37.332000,248.297000,1410.000000,5.450000,57.300000,5.340000,562.000000
75%,119.500000,188.290000,46.119600,328.251000,1740.000000,10.020000,58.750000,6.010000,733.000000
max,208.000000,617.320000,129.870000,1181.700000,2690.000000,20.800000,65.900000,7.490000,1310.000000

In [87]:
#The final list of countries 
fin4

,country,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
0,Afghanistan,90.2,55.3000,41.9174,248.297,1610,9.440,56.2,5.82,553
17,Benin,111.0,180.4040,31.0780,281.976,1820,0.885,61.8,5.36,758
25,Burkina Faso,116.0,110.4000,38.7550,170.200,1430,6.810,57.9,5.87,575
26,Burundi,93.6,20.6052,26.7960,90.552,764,12.300,57.7,6.26,231
28,Cameroon,108.0,290.8200,67.2030,353.700,2660,1.910,57.3,5.11,1310
31,Central African Republic,149.0,52.6280,17.7508,118.190,888,2.010,47.5,5.21,446
32,Chad,150.0,330.0960,40.6341,390.195,1930,6.390,56.5,6.59,897
36,Comoros,88.2,126.8850,34.6819,397.573,1410,3.870,65.9,4.75,769
37,"Congo, Dem. Rep.",116.0,137.2740,26.4194,165.664,609,20.800,57.5,6.54,334
40,Cote d'Ivoire,111.0,617.3200,64.6600,528.260,2690,5.390,56.3,5.27,1220
56,Gambia,80.3,133.7560,31.9778,239.974,1660,4.300,65.5,5.71,562
63,Guinea,109.0,196.3440,31.9464,279.936,1190,16.100,58.0,5.34,648
64,Guinea-Bissau,114.0,81.5030,46.4950,192.544,1390,2.970,55.6,5.05,547
66,Haiti,208.0,101.2860,45.7442,428.314,1500,5.450,32.1,3.33,662
87,Lesotho,99.7,460.9800,129.8700,1181.700,2380,4.150,46.5,3.30,1170
88,Liberia,89.3,62.4570,38.5860,302.802,700,5.470,60.8,5.02,327
94,Malawi,90.5,104.6520,30.2481,160.191,1030,12.100,53.1,5.31,459
97,Mali,137.0,161.4240,35.2584,248.508,1870,4.370,59.5,6.55,708
106,Mozambique,101.0,131.9850,21.8299,193.578,918,7.640,54.5,5.56,419
112,Niger,123.0,77.2560,17.9568,170.868,814,2.550,58.8,7.49,348
132,Sierra Leone,160.0,67.0320,52.2690,137.655,1220,17.200,55.0,5.20,399
150,Togo,90.3,196.1760,37.3320,279.624,1210,1.180,58.7,4.87,488
155,Uganda,81.0,101.7450,53.6095,170.170,1540,10.600,56.8,6.15,595

#### Final Remarks
Major focus should be given to the countries mentioned above.

#### Additional Remarks (Non-Evaluative)

The reason why PCA was done in the beginning was to remove the redundancies in the data and find the most important directions where the data was aligned. A somewhat similar heuristic is also used by the United Nations to calculate the Human Development Index(HDI) to rank countries on the basis of their development. They take 3 measures - Life Expectancy, Literacy Rate and Gross National Income. The logic behind using these 3 variables is that they directly affect the rest of the variables that determine the rest of their development. For example,  if you take a dataset where a lot of different socio-economic variables information is available, those variables would be heavily correlated to atleast one the 3 factors mentioned previously.

In this assignment however, we are actually finding those directions where the maximum variability may lie by using PCA. Then instead of using a metric like HDI, we are clustering them on the basis of those important directions. These directions are analogous to the the 3 measures mentioned previously and the clusters that are formed are similar to the HDI ranges used to denote development.Check out this link to read more on it:http://hdr.undp.org/en/content/human-development-index-hdi. And here is a list of the countries ranked according to HDI:http://hdr.undp.org/en/composite/HDI